<template>
  <div id="admin">
    <div class="users">
      <span>Пользователи</span>
      <el-table
        :data="users"
        style="width: 100%;"
      >
        <el-table-column
          label="Фамилия"
          prop="Sname"
        >
        </el-table-column>
        <el-table-column
          label="Имя"
          prop="Uname"
        >
        </el-table-column>
        <el-table-column
          label="Почта"
          prop="Email"
        >
        </el-table-column>
        <el-table-column
          label="Роль"
          prop="Role"
        >
        </el-table-column>
        <el-table-column
          label="Статус"
          prop="Status"
        >
        </el-table-column>
        <el-table-column
          label="Действия"
          width="400px"
        >
        <template slot-scope="scope">
          <el-button @click="usersBan(scope.$index)" v-if="users[scope.$index].Status == 'ACTIVE'" type="danger">Заблокировать</el-button>
          <el-button @click="usersBan(scope.$index)" v-else type="success">Разблокировать</el-button>
          <el-button @click="usersMod(scope.$index)" v-if="users[scope.$index].Role == 'USER' && users[scope.$index].Status == 'ACTIVE'" type="danger" plain>Назначить модератором</el-button>
          <el-button @click="usersMod(scope.$index)" v-if="users[scope.$index].Role == 'MODERATOR'" type="success" plain>Снять модератора</el-button>
        </template>
        </el-table-column>
      </el-table>
      <el-button @click="dialogUserTableVisible = true" type="primary">Добавить пользователя</el-button>
    </div>
    <div class="cities">
      <span>Города</span>
      <el-table
        :data="cities"
        style="width: 100%;"
      >
        <el-table-column
          label="ID"
          prop="Id"
          width="300"
        >                  
        </el-table-column>
        <el-table-column
          label="Город"
          prop="Name"
          width="600"
        >                  
        </el-table-column>
        <el-table-column
          label="Подробности"
          prop="Description"
        >
        </el-table-column>
      </el-table>
      <el-button @click="dialogCityTableVisible = true" type="primary">Добавить город</el-button>
    </div>
    <div class="user-add">
      <el-dialog :visible.sync="dialogUserTableVisible" width="600px">
        <el-input v-model="Sname" placeholder="Фамилия"></el-input>
        <el-input v-model="Mname" placeholder="Имя"></el-input>
        <el-input v-model="Pname" placeholder="Отчество"></el-input>
        <el-input v-model="Email" placeholder="Email"></el-input>
        <el-input v-model="Phone" placeholder="Телефон"></el-input>
        <el-input v-model="Password" placeholder="Пароль"></el-input>
        <el-button @click="userAdd()" type="primary">Добавить пользователя</el-button>
      </el-dialog>
    </div>
    <div class="city-add">
      <el-dialog :visible.sync="dialogCityTableVisible" width="600px">
        <div class="form">
          <el-input v-model="cityName" placeholder="Город" style="width: 350px"></el-input>
          <el-input v-model="cityDesc" placeholder="Описание" style="width: 350px"></el-input>
          <div>
            <el-button type="primary" @click="citiesPost()">Добавить город</el-button>
          </div>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import axios from "axios"
import {mapGetters} from "vuex";

export default {
  name: "Admin",
  data:()=>({
          cities: null,
          cityName: "",
          cityDesc: "",
          dialogCityTableVisible: false,
          Sname: "",
          Mname: "",
          Pname: "",
          Email: "",
          Phone: "",
          City: "",
          Password: "",
          dialogUserTableVisible: false,
          users: null,
    }),
    methods:{
      // получение списка городов
      citiesGet(){
        axios.get('https://dry-sea-02089.herokuapp.com/api/city')
        .then((res)=>{
          this.cities = res.data;
          console.log(res)
        })
      },
      // отправка данных для добавления нового города
      citiesPost(){
        axios.post('https://dry-sea-02089.herokuapp.com/api/city',{
          "Name": this.cityName,
          "Description": this.cityDesc
        },
        {
          headers: {'Authorization': "Bearer " + this.USER_TOKEN}
        })
        .then((res)=>{
          console.log(res);
          this.citiesGet();
        })
        .catch((err) => {
          console.log(err.response.status);
          if (err.response.status === 403) {
            this.$notify.error({
              title: 'Ошибка',
              type: 'Error',
              message: 'У вас недостаточно прав',
            });
          }
        })
        .finally(()=>{
          this.cityName = '';
          this.cityDesc = '';
          this.dialogCityTableVisible = false;
        })
      },
      usersGet(){
        axios.get('https://dry-sea-02089.herokuapp.com/api/user')
        .then((res)=>{
          this.users = res.data;
          console.log(res);
        })
      },
      usersBan(index){
        axios.put(`https://dry-sea-02089.herokuapp.com/api/user/ban/${this.users[index].Id}`, {},
          {
            headers: {'Authorization': "Bearer " + this.USER_TOKEN}
          })
        .then((res)=>{
          console.log(res);
          this.usersGet();
        })
        .catch((err) => {
          if (err.response.status === 403) {
            this.$notify.error({
              title: 'Ошибка',
              type: 'Error',
              message: 'У вас недостаточно прав',
            });
          }
        })
        .finally(()=>{
          
        })
      },
      usersMod(index){
        axios.post(`https://dry-sea-02089.herokuapp.com/api/user/setModer/${this.users[index].Id}`, {},
          {
            headers: {'Authorization': "Bearer " + this.USER_TOKEN}
          })
        .then((res)=>{
          console.log('res', res.status)
            console.log(res);
            this.usersGet();
        }).catch((err) => {
          console.log(err.response.status);
          if (err.response.status === 403) {
            this.$notify.error({
              title: 'Ошибка',
              type: 'Error',
              message: 'У вас недостаточно прав',
            });
          }
        })
      },
      userAdd(){
        axios.post(`https://dry-sea-02089.herokuapp.com/api/user/registration`,{
          "Email": this.Email,
          "Number": this.Phone,
          "Password": this.Password,
          "Uname": this.Mname,
          "Sname": this.Sname,
          "Tname": this.Pname
        })
        .then((res)=>{
          console.log(res);
          this.usersGet();
        })
        .finally(()=>{
          this.Email = "",
          this.Phone = "",
          this.Password = "",
          this.Mname = "",
          this.Sname = "",
          this.Pname = "",
          this.dialogUserTableVisible = false
        })
      }
    },
    computed:{
      ...mapGetters(['USER_TOKEN'])
    },
    created(){
      // вызов методов при загрузке страницы
      this.citiesGet();
      this.usersGet();
    }
}
</script>

<style scoped>
  #admin {
    width: 100%;
    color: #4a4a4a;
  }
  .form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .events{
    margin-top: 50px;
  }
  .cities{
    margin-top: 50px;
  }
  .users{
    margin-top: 50px;
  }
  .el-input{
    margin-bottom: 15px;
  }
  .el-select{
    margin-bottom: 15px;
  }
  .el-table{
    margin-bottom: 15px;
  }
  .cities{
    padding-bottom: 100px;
  }
</style>