<template>
  <div id="badge">
    <div class="header__profile">Мои бэйджи</div>
    <div @click="handlerOpenDialogBadge()" class="btn__badge">Добавить</div>

    <el-dialog
        :visible.sync="dialogAddBadgeVisible"
        width="450px"
        center
        :close-on-click-modal="false"
        :before-close="closeDialogAddBadge"
        title="Добавить бэйдж"
    >
      <div class="form">
        <el-select v-model="select_badge" placeholder="Бэйдж" style="width: 350px">
          <el-option
              v-for="(item, idx) in list_badges"
              :key="`badge${idx}`"
              :label="item.Name"
              :value="item.Id"
          >
          </el-option>
        </el-select>
        <div class="box__btn">
          <el-button :disabled="select_badge === null" type="primary">Добавить город</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import axios from "axios";
import {mapGetters} from "vuex";

export default {
  data: () => {
    return {
      dialogAddBadgeVisible: false,
      list_badges: [],
      select_badge: null,
    }
  },
  computed: {
    ...mapGetters(['USER_TOKEN'])
  },
  methods: {
    closeDialogAddBadge() {
      this.dialogAddBadgeVisible = false;
      this.select_badge = null;
    },
    handlerOpenDialogBadge() {
      this.dialogAddBadgeVisible = true;
      axios.get('https://dry-sea-02089.herokuapp.com/api/badge', {
        headers: {'Authorization': "Bearer " + this.USER_TOKEN}
      })
          .then((res) => {
            this.list_badges = res.data;
            console.log('user', this.list_badges);
          }).catch((err) => {
        console.log('err', err)
      }).finally(() => {
      })
    }
  }
}
</script>

<style scoped>
.header__profile {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 22px;
  color: #7ED386;
  margin-bottom: 18px;
}
#badge {
  position: relative;
  width: 100%;
  height: 100%;
}
.btn__badge {
  color: #409EFF;
  font-size: 16px;
}
.btn__badge:hover {
  cursor: pointer;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 110px;
}
.el-button--primary {
  background: #42b983;
  border: none;
}
.el-button--primary:hover {
  background: #39a575;
  border: none;
}
.box__btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 30px;
  width: 87%;
}
.el-button--primary.is-disabled, .el-button--primary.is-disabled:hover{
  background: #39a57559;
}
</style>