<template>
  <div id="events">
    <section v-loading="PRELOADER" class="container__events">
      <div class="header__events">
        <h3>Мероприятия</h3>
      </div>
      <div class="events__filters">
        <el-input width="120px" placeholder="Поиск мероприятия" v-model="search_query"></el-input>
      </div>
      <div
          v-if="list_events_filters && list_events_filters.length > 0"
          class="list__events"
      >
        <div
            v-for="(item_event, idx) in list_events_filters"
            :key="idx"
            class="card__event"
        >
          <div class="card__vector"></div>
          <section class="card__inside">
            <div class="card__name">{{ item_event.Name }}</div>
            <div class="card__status">
              Статус:
              <span
                  :class="['card__status-active',{
                    'card__status-no-active': item_event.Status === 'DEACTIVATE',
                    'card__status-active': item_event.Status === 'ACTIVE',
                  }]"
              >
                {{ item_event.Status === "DEACTIVATE" ? 'Не активен' : 'Активен' }}
              </span>
            </div>
            <div class="card__target">
              <p>Цель: {{ item_event.Target }}</p>
            </div>
            <div class="card__description">
              <p>{{ item_event.Description }}</p>
            </div>
            <div class="card__footer">
              <div class="card__place"><strong>Место проведения: </strong><span>{{ item_event.city.Name }}</span></div>
              <div class="card__users">
                <el-dropdown trigger="click">
                  <span @click="getListEventUsers(item_event.Id)" class="el-dropdown-link">
                    Список участников<i class="el-icon-arrow-down el-icon--right"></i>
                  </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item v-for="(item,index) in list_eventUsers" :key="index">{{item.UName}} {{item.Sname}}</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </div>
              <div
                  @click="followToEvent(item_event.Id)"
                  v-if="item_event.Status == 'ACTIVE'"
                  class="btn__follow"
              >Отозваться</div>
            </div>
          </section>
          <div class="card__time">
            <strong>Дата проведения: {{ item_event.Date}}</strong>
            <span>{{ item_event.date_event }}</span>
          </div>
        </div>
      </div>
      <div v-else class="card__event__no-search">
       <span>По запросу <span> "{{ search_query }}" </span> ничего не найдено</span>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
import { mapGetters, mapMutations } from 'vuex'
import moment from 'moment';
moment.locale('ru');

export default {
  created() {
    this.getListEvents();

  },
  data: () => {
    return {
      list_events: [],
      search_query: '',
      list_eventUsers: []
    }
  },
  computed: {
    ...mapGetters(['PRELOADER', 'USER_TOKEN']),
    list_events_filters() {
      return this.list_events.filter(event => {
        return event.Name.toLowerCase().includes(this.search_query.toLowerCase());
      });
    }
  },
  methods: {
    ...mapMutations(['CHANGE_PRELOADER']),
    followToEvent(event_id) {
      axios.post(`https://dry-sea-02089.herokuapp.com/api/event/${event_id}/join`, {
        'id': event_id
      }, {
        headers: {'Authorization': "Bearer " + this.USER_TOKEN}
      })
        .then((res) => {
          console.log(res);
          if (res.data.message === 'joined') {
            this.$notify.success({
              title: 'Успешно',
              type: 'Success',
              message: 'Вы успешно отозвались',
            });
          }
        }).catch((err) => {
            if (err.response.data.message === 'already joined') {
              this.$notify.error({
                title: 'Ошибка',
                type: 'Error',
                message: 'Вы уже отозвались',
              });
            }
      })
    },
    getListEvents() {
      this.CHANGE_PRELOADER(true);
      axios.get('https://dry-sea-02089.herokuapp.com/api/event')
        .then((res) => {
          this.list_events = res.data;
          this.list_events.forEach((el) => {
            el.Date = moment(el.Date).format('DD MMMM YYYY');
          });
          this.list_events = this.list_events.sort((a, b) => {
            if (a.Status.length > b.Status.length) {
              return 1;
            }
            if (a.Status.length < b.Status.length) {
              return -1;
            }
            // a должно быть равным b
            return 0;
          })
          console.log(this.list_events)
          this.CHANGE_PRELOADER(false);
        }).catch((err) => {
          this.CHANGE_PRELOADER(false);
       })
    },
    getListEventUsers(index){
      axios.get(`https://dry-sea-02089.herokuapp.com/api/event/${index}/users`)
      .then((res)=>{
        this.list_eventUsers = res.data.users;
        console.log(this.list_eventUsers);
      })

    }
  }
}
</script>

<style scoped>
#events {
  min-height: 90vh;
  width: 100%;
}
.list__events {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container__events {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.header__events {
  width: 100%;
  font-size: 26px;
  text-align: left;
  margin: 60px 0;
  color: #42b983;
}
.el-input {
  width: 350px;
}
.card__status {
  font-size: 16px;
  text-align: left;
  z-index: 222;
  margin-bottom: 15px;
}
.events__filters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 140px;
}
.card__status-active {
  color: #42b983;
}
.btn__follow {
  font-weight: bold;
  padding: 10px 20px;
  color: #42b983;
  border: none;
}
.btn__follow:hover {
  cursor: pointer;
}
.card__status-no-active {
  color: #dd0303;
}
.card__event {
  margin-bottom: 60px;
  height: initial;
  position: relative;
  width: 100%;
  background: #fafbff;
  border-radius: 20px;
  box-shadow: 18px 16px 16px rgb(0 0 0 / 7%);
  padding: 80px 90px 30px 105px;
}
.card__event__no-search {
  height: 70px;
  background: #fafbff;
  width: 100%;
  border-radius: 20px;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: flex-start;
}
.card__inside {
  z-index: 999;
  width: 100%;
  height: initial;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.card__name {
  font-size: 26px;
  text-align: left;
  z-index: 999;
  margin-bottom: 30px;
  color: #6e6e6e;
}
.card__description, .card__target {
  font-size: 16px;
  font-family: Montserrat-Regular, 'sans-serif';
  color: #4a4a4a;
  z-index: 999;
  text-align: left;
  margin-bottom: 50px;
}
.card__target {
  margin-bottom: 15px;
}
.card__place {
  text-align: left;
  margin-bottom: 30px;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__place strong, .card__time strong {
  color: #428db9;
}
.card__time span {
  color: #6e6e6e;
}
.card__place span {
  font-family: Montserrat-Regular, 'sans-serif';
}
.card__time {
  position: absolute;
  top: 30px;
  right: 40px;
}
.card__users{
  cursor: pointer;
}

.card__vector {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 180px;
  background: url("../assets/svg/event-vector.png") center no-repeat;
  background-size: contain;
}
</style>