<template>
  <div id="home">
    <Preview></Preview>
  </div>
</template>

<script>

import Preview from "../components/Preview";

export default {
  name: 'Home',
  components: {
    Preview
  }
}
</script>
<style scoped>
  #home {
    width: 100%;
    height: 100vh;
  }
</style>
