<template>
  <div>
    <div class="header__profile">Информация аккаунта</div>
    <div class="item__profile">
      Фамилия:
      {{ user.Sname }}
      <span>
          </span>
    </div>
    <div class="item__profile">
      Имя:
      {{ user.Uname }}
      <span>
          </span>
    </div>
    <div class="item__profile">
      Отчество:
      {{ user.Tname !== null ? user.Tname : '-' }}
      <span>
          </span>
    </div>
    <div class="item__profile">
      Номер телефона:
      {{ user.Number !== null ? user.Number : '-' }}
      <span>
          </span>
    </div>
    <div class="item__profile">
      Почта:
      {{ user.Email }}
      <span>
          </span>
    </div>
    <div class="item__profile">
      Город: -
      <span>
          </span>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
import axios from "axios";
import moment from "moment";

export default {
  data: () => {
    return {
      user: [],
    }
  },
  created() {
    this.getUserInfo();
  },
  computed: {
    ...mapGetters(['USER_DATA', 'USER_TOKEN', 'PRELOADER'])
  },
  methods: {
    ...mapMutations(['CHANGE_PRELOADER']),
    getUserInfo() {
      this.CHANGE_PRELOADER(true);
      axios.get('https://dry-sea-02089.herokuapp.com/api/profile', {
        headers: {'Authorization': "Bearer " + this.USER_TOKEN}
      })
          .then((res) => {
            this.user = res.data.user;
            console.log('user', this.user);
          }).catch((err) => {
        console.log('err', err)
      }).finally(() => {
        this.CHANGE_PRELOADER(false);
      })
    }
  }
}
</script>

<style scoped>
.header__profile {
  font-family: Montserrat-Bold, sans-serif;
  font-size: 22px;
  color: #7ED386;
  margin-bottom: 30px;
}
.item__profile {
  font-family: Montserrat-Regular, 'sans-serif';
  margin-bottom: 15px;
}
.item__profile span {
  font-family: cursive;
}
</style>