<template>
  <div id="login">
    <section class="form__section">
      <div class="header__events">
        <h3>Стать добровольцем</h3>
      </div>
      <div
          v-loading="loading"
          class="form"
      >
        <el-tabs v-model="tab">
          <el-tab-pane label="Регистрация" name="auth">
            <div class="form__header">
              <h4>Предварительная регистрация добровольцев для участия в мероприятиях</h4>
            </div>
            <div class="form__item">
              <label class="form__label">Фамилия</label>
              <input
                  v-model.trim="$v.formAuth.second_name.$model"
                  :class="{ 'is-invalid':$v.formAuth.second_name.$error, 'is-valid':!$v.formAuth.second_name.$invalid}"
                  type="text"
                  placeholder="Фамилия"
              >
            </div>
            <div class="form__item">
              <label class="form__label">Имя</label>
              <input
                  v-model.trim="$v.formAuth.first_name.$model"
                  :class="{ 'is-invalid':$v.formAuth.first_name.$error, 'is-valid':!$v.formAuth.first_name.$invalid}"
                  type="text"
                  placeholder="Имя"
              >
            </div>
            <div class="form__item">
              <label class="form__label">Отчество</label>
              <input
                  v-model.trim="$v.formAuth.middle_name.$model"
                  :class="{ 'is-invalid':$v.formAuth.middle_name.$error, 'is-valid':!$v.formAuth.middle_name.$invalid}"
                  type="text"
                  placeholder="Отчество"
              >
            </div>
            <div class="form__item">
              <label class="form__label">E-mail</label>
              <input
                  v-model.trim="$v.formAuth.email.$model"
                  :class="{ 'is-invalid':$v.formAuth.email.$error, 'is-valid':!$v.formAuth.email.$invalid}"
                  type="text"
                  placeholder="E-mail"
              >
            </div>
            <div class="form__item">
              <label class="form__label">Телефон</label>
              <input
                  v-model="formAuth.phone"
                  v-mask="'+7 (###) ###-##-##'"
                  type="text"
                  placeholder="Телефон"
              >
            </div>
            <div class="form__item">
              <label class="form__label">Город</label>
              <input
                  v-model.trim="$v.formAuth.city.$model"
                  :class="{ 'is-invalid':$v.formAuth.city.$error, 'is-valid':!$v.formAuth.city.$invalid}"
                  type="text"
                  placeholder="Город">
            </div>
            <div class="form__item">
              <label class="form__label">Пароль</label>
              <input
                  v-model.trim="$v.formAuth.password.$model"
                  :class="{ 'is-invalid':$v.formAuth.password.$error, 'is-valid':!$v.formAuth.password.$invalid}"
                  type="password"
                  placeholder="Пароль">
            </div>
            <button @click="signUp">Зарегистрироваться</button>
          </el-tab-pane>
          <el-tab-pane label="Авторизация" name="registration">
            <div class="form__header">
              <h4>Если вы уже имеет акакунт, то войдите в систему</h4>
            </div>
            <input
                v-model="authData.email"
                type="email"
                placeholder="E-mail">
            <input
                v-model="authData.password"
                type="password"
                placeholder="Пароль">
            <button @click="signIn">Войти</button>
          </el-tab-pane>
        </el-tabs>
      </div>
    </section>
  </div>
</template>

<script>
import { required, minLength, maxLength, helpers } from 'vuelidate/lib/validators'
import {mapGetters, mapMutations} from "vuex";
import axios from "axios";

export default {

  data: () => {
    return {
      tab: 'auth',
      loading: false,
      formAuth: {
        first_name: null,
        second_name: null,
        middle_name: null,
        phone: null,
        email: null,
        city: null,
        password: null,
      },
      authData: {
        email: null,
        password: null,
      }
    }
  },
  validations: {
    // правила для валидации
    formAuth: {
      first_name: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(35)
      },
      second_name:  {
        required,
        minLength: minLength(2),
        maxLength: maxLength(35)
      },
      middle_name:  {
        required,
        minLength: minLength(5),
        maxLength: maxLength(48)
      },
      email: {
        required,
        regex: helpers.regex('alpha', /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)
      },
      phone: {
        required,
      },
      city: {
        required,
        regex: helpers.regex('alpha', /^([a-zA-Zа-яА-ЯёЁ]+[-]?[a-zA-Zа-яА-ЯёЁ]*[-]?[a-zA-Zа-яА-ЯёЁ]*[-]?[a-zA-Zа-яА-ЯёЁ]*)$/i),
      },
      password: {
        required,
        minLength: minLength(8),
        maxLength: maxLength(32)
      }
    },
  },
  watch: {
    tab() {
      this.loading = true;
      setInterval(() => {
        this.loading = false;
      },1000)
    }
  },
  computed: {
    ...mapGetters(['USER_TOKEN'])
  },
  methods: {
    ...mapMutations(['RECORD_TOKEN', 'RECORD_USER']),
    //сброс данных
    resetData(data) {
      Object.keys(data).forEach((key) => {
        data[key] = null;
      });
    },
    // Регистрация
    signUp(){
      this.loading = true;
      if (this.$v.$invalid) {
        this.$notify.error({
          title: 'Ошибка',
          type: 'Error',
          message: 'Заполните поля корректно',
        });
        this.loading = false;
      }
      else {
        axios.post('https://dry-sea-02089.herokuapp.com/api/user/registration', {
          "Email": this.formAuth.email,
          "Number": this.formAuth.phone,
          "Password": this.formAuth.password,
          "Uname": this.formAuth.first_name,
          "Sname": this.formAuth.second_name,
          "Tname": this.formAuth.first_name
        }).then((res) => {
          this.resetData(this.formAuth);
          this.RECORD_TOKEN(res.data.token);
          localStorage.setItem('token', res.data.token);
          this.getUserInfo();
          this.$router.push('profile');
        }).catch((err) => {
          this.$notify.error({
            title: 'Что-то пошло не так',
            type: 'Error',
            message: 'Попробуйте позже',
          });
        }).finally(() => {
          this.loading = false;
        })
      }
    },
    //сброс авторизация
    signIn() {
      this.loading = true;
      //проверка на пустое поле почты
      if (this.authData.email !== null || this.authData.email !== '') {
        //проверка на пустое поле пароля
        if (this.authData.password !== null || this.authData.password !== '') {
          axios.post('https://dry-sea-02089.herokuapp.com/api/user/login', {
            "Email": this.authData.email,
            "Password": this.authData.password
          }).then((res) => {
            this.resetData(this.authData);
            this.RECORD_TOKEN(res.data.token);
            localStorage.setItem('token', res.data.token);
            this.getUserInfo();
            this.$router.push('profile');
          }).catch((err) => {
            this.$notify.error({
              title: 'Ошибка',
              type: 'Error',
              message: err.response.data.message,
            });
          }).finally(() => {
            this.loading = false;
          })
        }
        else {
          this.$notify.error({
            title: 'Ошибка',
            type: 'Error',
            message: 'Заполните поле - пароль',
          });
        }
      }
      else
        this.$notify.error({
          title: 'Ошибка',
          type: 'Error',
          message: 'Заполните поле - почта',
        });
      this.loading = false;
    },
    // Получить инфу о пользователе
    getUserInfo() {
      axios.get('https://dry-sea-02089.herokuapp.com/api/profile', {
        headers: {'Authorization': "Bearer " + this.USER_TOKEN}
      })
          .then((res) => {
            this.RECORD_USER(res.data.user);
          }).catch((err) => {
        console.log('err', err)
      })
    }
  },
}
</script>

<style scoped>
  #login {
    width: 100%;
    height: 90%;
  }
  .form__section{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .form__item {
    text-align: left;
  }
  .form__item label {
    padding-left: 2px;
    margin-bottom: 5px;
    font-family: 'Montserrat-Medium';
    color: #4a4a4a;
  }
  .form__item input {
    margin-top: 8px;
  }

  .form__header h4 {
    text-align: center;
    margin: 25px 0 35px 0;
    padding: 0 30px;
  }
  .header__events {
    width: 100%;
    font-size: 26px;
    text-align: left;
    margin: 60px 0;
    color: #42b983;
  }
  .form{
    width: 40%;
    height: initial;
    background-color: rgb(218 218 218 / 42%);
    box-shadow: 18px 16px 0px rgb(0 0 0 / 10%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin-bottom: 60px;
    font-family: Montserrat-Regular, 'sans-serif';
  }
  .form input{
    width: 90%;
    font-family: Montserrat-Regular, 'sans-serif';
    box-shadow: 2px 2px 5px rgb(0 0 0 / 4%);
    height: 44px;
    font-size: 16px;
    border-width: 0;
    margin-bottom: 26px;
    border-radius: 10px;
    padding: 0 18px;
  }
  .form input::placeholder {
    font-size: 16px;
    color: #a0a0a0;
  }
  .form input:focus{
    outline: none;
  }
  button{
    margin-top: 20px;
    width: initial;
    height: 50px;
    padding: 0 30px;
    border-width: 0;
    border-radius: 10px;
    color: white;
    background: #42b983;
    font-size: 14px;
    font-family: Montserrat-Medium, sans-serif;
  }
  .form ::-webkit-input-placeholder{
    font-size: 22px;
  }
  input.is-invalid {
    color: #dd0303;
  }
</style>