<template>
  <div id="profile">
    <section v-loading="PRELOADER" class="container__profile">
      <div class="lenta">
        <router-link v-if="USER_TOKEN && user.Role === 'ADMIN'" to="/admin" class="lenta__btn lenta__btn_admin">
          <svg width="32" height="32" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.125 12.375C19.5075 12.375 19.8787 12.42 20.25 12.4762V7.05375L11.8125 3.375L3.375 7.05375V12.5775C3.375 17.685 6.975 22.4662 11.8125 23.625C12.4312 23.4788 13.0275 23.265 13.6125 23.0063C12.8363 21.9038 12.375 20.565 12.375 19.125C12.375 15.4012 15.4012 12.375 19.125 12.375Z" fill="white"/>
            <path d="M19.125 14.625C16.6387 14.625 14.625 16.6387 14.625 19.125C14.625 21.6112 16.6387 23.625 19.125 23.625C21.6112 23.625 23.625 21.6112 23.625 19.125C23.625 16.6387 21.6112 14.625 19.125 14.625ZM19.125 16.1775C19.8225 16.1775 20.385 16.7512 20.385 17.4375C20.385 18.1237 19.8112 18.6975 19.125 18.6975C18.4387 18.6975 17.865 18.1237 17.865 17.4375C17.865 16.7512 18.4275 16.1775 19.125 16.1775ZM19.125 22.2187C18.0787 22.2187 17.1675 21.7012 16.605 20.9025C16.6613 20.0925 18.3037 19.6875 19.125 19.6875C19.9462 19.6875 21.5887 20.0925 21.645 20.9025C21.0825 21.7012 20.1712 22.2187 19.125 22.2187Z" fill="white"/>
          </svg>
        </router-link>

        <router-link to="/moderator" v-if="USER_TOKEN && user.Role === 'MODERATOR'" class="lenta__btn lenta__btn_moder" >
          <svg width="25" height="25" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 0C1.46957 0 0.960859 0.210714 0.585786 0.585786C0.210714 0.960859 0 1.46957 0 2H16C16 1.46957 15.7893 0.960859 15.4142 0.585786C15.0391 0.210714 14.5304 0 14 0L2 0ZM0 14V3H16V14C16 14.5304 15.7893 15.0391 15.4142 15.4142C15.0391 15.7893 14.5304 16 14 16H2C1.46957 16 0.960859 15.7893 0.585786 15.4142C0.210714 15.0391 0 14.5304 0 14ZM12 6C12 6.26522 12.1054 6.51957 12.2929 6.70711C12.4804 6.89464 12.7348 7 13 7C13.2652 7 13.5196 6.89464 13.7071 6.70711C13.8946 6.51957 14 6.26522 14 6C14 5.73478 13.8946 5.48043 13.7071 5.29289C13.5196 5.10536 13.2652 5 13 5C12.7348 5 12.4804 5.10536 12.2929 5.29289C12.1054 5.48043 12 5.73478 12 6Z" fill="black"/>
          </svg>
        </router-link>

        <router-link to="/profile/userInfo" class="lenta__btn lenta__btn_badge">
          <svg width="32" height="32" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.625 2.625H3.375C2.96016 2.625 2.625 2.96016 2.625 3.375V20.625C2.625 21.0398 2.96016 21.375 3.375 21.375H20.625C21.0398 21.375 21.375 21.0398 21.375 20.625V3.375C21.375 2.96016 21.0398 2.625 20.625 2.625ZM8.90625 16.3125C8.38828 16.3125 7.96875 15.893 7.96875 15.375C7.96875 14.857 8.38828 14.4375 8.90625 14.4375C9.42422 14.4375 9.84375 14.857 9.84375 15.375C9.84375 15.893 9.42422 16.3125 8.90625 16.3125ZM8.90625 12.9375C8.38828 12.9375 7.96875 12.518 7.96875 12C7.96875 11.482 8.38828 11.0625 8.90625 11.0625C9.42422 11.0625 9.84375 11.482 9.84375 12C9.84375 12.518 9.42422 12.9375 8.90625 12.9375ZM8.90625 9.5625C8.38828 9.5625 7.96875 9.14297 7.96875 8.625C7.96875 8.10703 8.38828 7.6875 8.90625 7.6875C9.42422 7.6875 9.84375 8.10703 9.84375 8.625C9.84375 9.14297 9.42422 9.5625 8.90625 9.5625ZM16.0312 15.9375C16.0312 16.0406 15.9469 16.125 15.8438 16.125H11.5312C11.4281 16.125 11.3438 16.0406 11.3438 15.9375V14.8125C11.3438 14.7094 11.4281 14.625 11.5312 14.625H15.8438C15.9469 14.625 16.0312 14.7094 16.0312 14.8125V15.9375ZM16.0312 12.5625C16.0312 12.6656 15.9469 12.75 15.8438 12.75H11.5312C11.4281 12.75 11.3438 12.6656 11.3438 12.5625V11.4375C11.3438 11.3344 11.4281 11.25 11.5312 11.25H15.8438C15.9469 11.25 16.0312 11.3344 16.0312 11.4375V12.5625ZM16.0312 9.1875C16.0312 9.29063 15.9469 9.375 15.8438 9.375H11.5312C11.4281 9.375 11.3438 9.29063 11.3438 9.1875V8.0625C11.3438 7.95937 11.4281 7.875 11.5312 7.875H15.8438C15.9469 7.875 16.0312 7.95937 16.0312 8.0625V9.1875Z" fill="black"/>
          </svg>
        </router-link>

        <router-link  class="lenta__btn lenta__btn_badge" to="/profile/userBadge">
          <svg width="32" height="32" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 7H15V4C15 2.9 14.1 2 13 2H11C9.9 2 9 2.9 9 4V7H4C2.9 7 2 7.9 2 9V20C2 21.1 2.9 22 4 22H20C21.1 22 22 21.1 22 20V9C22 7.9 21.1 7 20 7ZM9 12C9.83 12 10.5 12.67 10.5 13.5C10.5 14.33 9.83 15 9 15C8.17 15 7.5 14.33 7.5 13.5C7.5 12.67 8.17 12 9 12ZM12 18H6V17.57C6 16.97 6.36 16.42 6.92 16.18C7.56 15.9 8.26 15.75 9 15.75C9.74 15.75 10.44 15.9 11.08 16.18C11.63 16.42 12 16.96 12 17.57V18ZM13 9H11V4H13V9ZM17.25 16.5H14.75C14.34 16.5 14 16.16 14 15.75C14 15.34 14.34 15 14.75 15H17.25C17.66 15 18 15.34 18 15.75C18 16.16 17.66 16.5 17.25 16.5ZM17.25 13.5H14.75C14.34 13.5 14 13.16 14 12.75C14 12.34 14.34 12 14.75 12H17.25C17.66 12 18 12.34 18 12.75C18 13.16 17.66 13.5 17.25 13.5Z" fill="black"/>
          </svg>
        </router-link>
      </div>
      <router-view class="inside__profile">

      </router-view>
    </section>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
import axios from "axios";

export default {
  data: () => {
    return {
      user: [],
    }
  },
  created() {
    this.getUserInfo();
  },
  computed: {
    ...mapGetters(['USER_DATA', 'USER_TOKEN', 'PRELOADER'])
  },
  methods: {
    ...mapMutations(['CHANGE_PRELOADER']),
    getUserInfo() {
      this.CHANGE_PRELOADER(true);
      axios.get('https://dry-sea-02089.herokuapp.com/api/profile', {
        headers: {'Authorization': "Bearer " + this.USER_TOKEN}
      })
      .then((res) => {
        this.user = res.data.user;
        console.log('user', this.user);
      }).catch((err) => {
        console.log('err', err)
      }).finally(() => {
        this.CHANGE_PRELOADER(false);
      })
    }
  }
}
</script>

<style scoped>
#profile {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
.lenta {
  position: absolute;
  top: -10%;
  left: 4%;
  width: 10%;
  height: 120%;
  background-color: #7ED386;
  align-items: center;
  padding: 30px 4px 30px 4px;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  box-shadow: 0 1px 14px rgb(0 0 0 / 19%);
}
.container__profile {
    margin-top: 120px;
    position: relative;
    width: 600px;
    height: initial;
    min-height: 325px;
    padding: 50px 60px 50px 140px;
    box-shadow: 0 1px 30px rgb(0 0 0 / 16%);
  }
  .lenta__btn_admin {
    width: 32px;
    height: 32px;
    margin-bottom: 30px;

  }
  .lenta__btn_moder {
    width: 25px;
    height: 25px;
    margin-bottom: 30px;

  }
  .lenta__btn_badge {
    width: 32px;
    height: 32px;
    margin-bottom: 30px;

  }
  .lenta__btn svg:hover path {
    fill: #d3e2d4;
  }
  .lenta__btn svg path{
    fill: white;
  }
  .inside__profile {
    width: 100%;
    height: initial;
    text-align: left;
  }

</style>