<template>
  <div id="header">
    <section class="header__container">
      <div class="logotype">
        <div class="logotype__img">

        </div>
        <div class="logo__title">
          <h5>ПОИСКОВО-СПАСАТЕЛЬНЫЙ ОТРЯД</h5>
        </div>
      </div>
      <el-menu :router="true" class="el-menu-demo" mode="horizontal">
        <el-menu-item index="/">Главная</el-menu-item>
        <el-menu-item v-if="!USER_TOKEN" index="/login" >Стать добровольцем</el-menu-item>
        <el-menu-item v-if="USER_TOKEN" index="/profile/userInfo">Профиль</el-menu-item>
        <el-menu-item index="/events">Мероприятия</el-menu-item>
        <el-menu-item v-if="USER_TOKEN" @click="exit">Выход</el-menu-item>
        <el-menu-item class="box-phone">+ 7 (800) 200-34-11</el-menu-item>
      </el-menu>
    </section>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from "vuex";
export default {
  data: () => {
    return {
    }
  },
  methods: {
    ...mapMutations(['EXIT_USER']),
    // выход для ползователя
    exit() {
      // если на странице профиль то перекидываем на авторизацию
        this.$router.push('/login');
      // удаляем токен пользователя
      localStorage.removeItem('token');
      this.EXIT_USER(false);

    }
  },
  computed: {
    ...mapGetters(['USER_TOKEN'])
  }

}
</script>

<style scoped>
  #header {
    height: initial;
    width: 100%;
    display: block;

  }
  .header__container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logotype {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logotype__img {
    background: url("../assets/logo.jpg") no-repeat center;
    background-size: cover;
    margin: 10px;
    width: 50px;
    height: 50px;
  }
  .logo__title {
    width: initial;
    margin-left: 20px;
    font-size: 15px;
    color: #4a4a4a;
    text-decoration: none;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
  }
  @keyframes pulsate{
    50% {
      color: #42b983d1;
      text-shadow: 0 -1px rgb(66 185 131 / 43%), 0 0 5px #ffffff, 0 0 8px #42b9838c;
    }
  }
</style>