<template>
  <div id="preview">
    <section class="preview__container">
      <div class="box__left">
        <div class="preview__text">
          <h4>Поисково-спасательный отряд</h4>
          <p>Это негосударственное общественное объединение, реализующее инициативы в сфере межкультурного взаимодействия,
            развития общественной дипломатии, а также разработкой и реализацией гуманитарных миссий на территории России и за ее пределами.</p>
        </div>
      </div>
    </section>
    <section class="target__container">
      <span class="target__title">Наши цели</span>
      <div class="target__card-group">
        <div class="target__card">
          <div class="target__picture-block">
            <div class="target__picture p-volunteer"></div>
          </div>
          <span>Обучение добровольцев в рамках уникальных образовательных программ,  которые были разработаны на основе положительных практик реализации проектов</span>
        </div>
        <div class="target__card">
          <div class="target__picture-block">
            <div class="target__picture p-guard"></div>
          </div>
          <span>Ликвидация чрезвычайных ситуаций , а также сбор волонтёров в группы для поиска людей.</span>
        </div>
        <div class="target__card">
          <div class="target__picture-block">
            <div class="target__picture p-museum"></div>
          </div>
          <span>Культурный обмен и совместная практика представителей различных регионов.</span>
        </div>
      </div>
    </section>
    <section class="slogan__container">
      <span class="slogan__text">На основе созидания, совести и справедливости мы приходим к результату.</span>
    </section>
  </div>
</template>

<script>
export default {
  name: "Preview"
}
</script>

<style scoped>
  #preview {
    width: 100%;
    height: initial;
  }
  .preview__container {
    margin-top: 80px;
    height: initial;
    width: initial;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    /*background: linear-gradient(90deg, #ffffff 0%, #f8f8f8 100%);*/
    background: url("../assets/img/image_preview.png") no-repeat right;
    background-size: contain;
  }

  .box__left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: initial;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
  }
  .preview__text {
    width: 430px;
    text-align: left;
  }
  .preview__text h4 {
    font-size: 38px;
    margin-bottom: 15px;
    color: #42b983;
  }
  .preview__text p {
    font-size: 20px;
    width: 560px;
    font-family: 'Montserrat-Regular';
  }
  .slogan__container{
    width: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(13, 161, 0, 0.5);
  }
  .slogan__text{
    font-size: 36px;
    color: rgb(253, 253, 253);
    text-shadow: 5px 3px 10px grey;
    font-family: 'MONTSERRAT-LIGHT';
  }
  .target__container{
    height: initial;
    width: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 160px 0;
  }
  .target__title{
    font-size: 38px;
    color: #42b983;
    padding-bottom: 40px;
  }
  .target__card-group{
    width: 60%;
    height: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
  }
  .target__card{
    height: 320px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 4px 4px 15px #00000021;
    padding: 30px;
  }
  .target__card span {
    font-size: 16px;
    font-family: cursive, 'sans-serif';
  }
  .target__picture-block{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
  }
  .target__picture{
    width: 100px;
    height: 100px;

  }
  .p-volunteer {
    background: url("../assets/img/icon_volunteer.png")  no-repeat center;
    background-size: cover;
  }
  .p-guard {
    background: url("../assets/img/guard.png") no-repeat center;
    background-size: cover;
  }
  .p-museum {
    background: url("../assets/img/museum_icon.png") no-repeat center;
    background-size: cover;
  }
</style>