<template>
  <div id="app">
    <Header></Header>
    <router-view/>
  </div>
</template>

<script>

import Header from "./components/Header";
import {mapGetters, mapMutations} from "vuex";
import axios from "axios";
export default  {
  created() {
    this.authCheck();
  },
  data: () => {
    return {

    }
  },
  components: {
    Header,
  },
  computed: {
    ...mapGetters(['USER_TOKEN'])
  },
  methods: {
    ...mapMutations(['RECORD_TOKEN', 'RECORD_USER']),
    // проверка на сессию пользователя
    authCheck() {
      let token = localStorage.getItem('token');
      // если токен лежит в локальном хранилище
      if (token !== null && token !== undefined) {
        // записываем токен в хранилище VUEX
        this.RECORD_TOKEN(token);
        this.getUserInfo();
      }
    },
    getUserInfo() {
      axios.get('https://dry-sea-02089.herokuapp.com/api/profile', {
        headers: {'Authorization': "Bearer " + this.USER_TOKEN}
      })
          .then((res) => {
            this.RECORD_USER(res.data.user);
          }).catch((err) => {
        console.log('err', err)
      })
    }
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
#app {
  width: 100%;
  height: 100vh;
  font-family: Montserrat-Bold, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url("./assets/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url("./assets/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url("./assets/fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("./assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url("./assets/fonts/Montserrat-Light.ttf");
}

#nav {
  padding: 30px;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #2c3e50;
}

a.router-link-exact-active {
  color: #42b983;
  text-decoration: none !important;
}
.el-menu--horizontal>.el-menu-item {
  line-height: 50px !important;
}
.el-menu.el-menu--horizontal {
   border-bottom: none !important;
}
.el-menu--horizontal>.el-menu-item {
  color: #b5b6b8 !important;
}
.el-menu--horizontal>.el-menu-item {
  height: 50px !important;
}
.el-menu--horizontal>.el-menu-item.is-active {
  color: #4a4a4a !important;
}
li.el-menu-item.box-phone {
  color: #42b983 !important;
}
.el-loading-spinner .path {
  stroke: #42b983 !important;
}
.el-tabs__nav-wrap::after {
  width: 0 !important;
}
.el-tabs__active-bar.is-top {
  width: 34px !important;
}
.el-tabs__active-bar {
  background-color: #42b983 !important;
}
.el-tabs__item.is-active {
  color: #42b983 !important;
}
.el-notification.right {
  font-family: Montserrat-Regular, 'sans-serif' !important;
}
.el-input.is-active .el-input__inner, .el-input__inner:focus {
  border-color: #42b983 !important;
}
.el-input__inner {
  font-family: Montserrat-Medium, sans-serif;
}
</style>
